# Web Framework
fastapi>=0.109.0
uvicorn>=0.27.0

# Templates
jinja2>=3.1.0

# Weather API Client
openmeteo-requests>=1.1.0
cachetools>=5.3.2
retry-requests>=2.0.0

# Data Processing
pandas>=2.2.0
pyarrow>=15.0.0  # For efficient data transfer with DuckDB

# HTTP Client
httpx>=0.26.0

# Static Files
python-multipart>=0.0.6

# Type Hints
typing-extensions>=4.9.0 

python-dotenv
dotenv
SQLAlchemy>=2.0
psycopg[binary]>=3.1

Flask
typing
pytest

beautifulsoup4
pytest-playwright
ruff==0.6.9
