# Ignore Python cache files and folders
__pycache__/
*.pyc

# Ignore SQLite and database files
*.sqlite
*.db

# Ignore log files and folders
logs/

dags/__pycache__/expectations.cpython-312.pyc

dags/__pycache__/main.cpython-312.pyc

config/